*.txt

myhostfile.*

lochost.*

myhostfile8

lochost1

lochost2

lochost3

lochost4

myhostfile1

myhostfile10

myhostfile11

myhostfile12

myhostfile13

myhostfile14

myhostfile15

myhostfile16

myhostfile17

myhostfile18

myhostfile19

myhostfile2

myhostfile20

myhostfile21

myhostfile22

myhostfile23

myhostfile24

myhostfile25

myhostfile26

myhostfile27

myhostfile28

myhostfile29

myhostfile3

myhostfile30

myhostfile31

myhostfile32

myhostfile33

myhostfile34

myhostfile35

myhostfile36

myhostfile37

myhostfile38

myhostfile39

myhostfile4

myhostfile40

myhostfile41

myhostfile42

myhostfile43

myhostfile44

myhostfile45

myhostfile46

myhostfile47

myhostfile48

myhostfile49

myhostfile5

myhostfile50

myhostfile6

myhostfile7

myhostfile9

myhosts4
